body {
  overflow-x: hidden;
}
div {
  box-sizing: border-box;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited, &:hover, &:active {
    color: inherit;
  }
}
hr {
  opacity: .2;
}

.roadmap-link {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  color: $c-primary;
  font-weight: 500;
  &:visited {
    color: $c-primary;
  }
  &:after {
    content: '';
    position: absolute;
    top: 7px;
    right: -13px;
    width: 8px;
    height: 8px;
    background: {
      image: url('#{$images-path}/icons/link-arrow.svg');
      repeat: no-repeat;
      size: 8px 8px;
    }
  }
}
th {
  cursor: pointer;
}
.no-borders {
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}
.no-background {
  background: none !important;
}
.filter-arrow {
	width: 10px;
	padding: 1px;			
	position: absolute;
	margin-top: -36px;
	margin-left: -5px;
	&--up {
		transform: rotate(-90deg);
	}
	&--down {
		transform: rotate(90deg);
	}
}
