.coming-soon-tab {
  background-color: $c-secondary;
  font-weight: 600;
  @include fontSize(12px);
  color: white;
  padding: 6px;
  border-radius: 15px;
  &--large {
    @include fontSize(15px);
  }
  &--small {
    @include fontSize(13px);
    padding: 4px;
  }
}
