.coming-investments {
    @extend .white-box;
    margin-top: 50px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    @include break(1340) {
        flex-wrap: wrap;
    }
    @include break(500) {
        padding: 30px;
    }
    &__info {
        width: 28%;
        flex-shrink: 0;
        @include break(1550) {
            width: 350px;
        }
        @include break(1340) {
            width: 45%;
        }
        @include break(1000) {
            width: 100%;
        }
        &__description {
            @extend .cs-desc;
        }
        &__time-to-release {
            @extend .cs-ttr;
        }
    }
    &_info {
        width: 33.333%;
    }
    &__table {
        width: 33.333%;
        flex-shrink: 1;
        @include break(1400) {
            width: 30%;
        }
        @include break-between(1000, 1340) {
            width: 45%;
        }
        @include break(1000) {
            width: 100%;
            margin-top: 40px;
        }
        table {
            width: 100%;

            .currency {
                color: $c-text6;
                @include fontSize(13px);
                font-weight: $fw_bold;
            }

            .section {
                color: darken(#d8dce1, 10%);
                @include setFontSize(14px, 12px, 11px);
                line-height: 16px;
                letter-spacing: -0.25px;
                font-weight: $fw_bold;
            }

            .amount {
                color: $c-primary;
            }

            .circle {
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background: $c-secondary;
                margin-right: 11px;
                flex-shrink: 0;

                @include break(1200) {
                    margin-right: 8px;
                }
            }

            tr {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 50px;
                padding: 10px 0;

                td {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            thead {
                tr {
                    border-bottom: 1px solid $c-border-light;
                    height: 70px;

                    td {
                        h5 {
                            @include setFontSize(18px, 18px, 12px);
                            line-height: 26px;
                            letter-spacing: -0.36px;
                        }

                        h5.total {
                            flex-shrink: 0;
                            margin-left: 10px;
                            @include setFontSize(23px, 23px, 20px);
                        }

                        .dummyValue {
                            width: 80px;
                            height: 15px;
                            background-color: #f5f9fc;
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        div {
                            display: flex;
                            align-items: center;

                            @include break(375) {
                                max-width: 220px;
                            }
                        }

                        .dummyTitle {
                            width: 140px;
                            height: 15px;
                            background-color: #eef2f9;

                            &.long {
                                width: 80%;
                                max-width: 300px;
                            }

                            &.medium {
                                width: 205px;
                            }
                        }

                        .dummyValue {
                            width: 50px;
                            height: 15px;
                            background-color: #f2f6f9;
                        }

                        p {
                            flex-shrink: 1 !important;
                            @include setFontSize(16px, 14px, 13px);
                            line-height: 22px;
                            letter-spacing: 0;
                            font-weight: $fw_medium;
                            color: #717f93;

                            @include break(1580) {
                                max-width: 225px;
                            }

                            @include break(415) {
                                max-width: 190px;
                            }

                            &:last-child {
                                flex-shrink: 0;
                                margin-left: 10px;
                            }
                        }

                        span {
                            color: $c-primary;
                        }

                        .currency {
                            @include fontSize(13px);
                        }
                    }
                }
            }
        }
    }

    &__additional-description {
        width: 25.333%;
        flex-shrink: 0;

        p {
            color: $c-readable;
            letter-spacing: -0.14px;
            line-height: 1.7;
        }

        p:last-child {
            margin-top: 30px;
        }

        @include break(1340) {
            width: 100%;
            margin: 40px -60px -60px;
            padding: 40px 50px 40px;
            width: calc(100% + 120px);
            background: #F5F9FC;
            display: flex;
            justify-content: space-between;

            p {
                width: 45%;

                &:last-child {
                    margin-top: 0;
                }
            }
        }

        @include break(800) {
            display: block;

            p {
                width: auto;
                max-width: 100%;

                &:last-child {
                    margin-top: 30px;
                }
            }
        }

        @include break(500) {
            margin: 20px -30px -30px;
            padding: 30px 40px 30px;
            width: calc(100% + 60px);
        }
    }
}