.btn {
  padding: 10px 15px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid $c-border;
  background-color: $c-lighter;
  transition: 250ms background-color ease-in-out;
  text-decoration: none;
  outline: none;

  .material-icons {
    position: relative;
    top: 1px;
    @include fontSize(12px);
    font-weight: bold;
    margin-right: 5px;
  }

  &:hover {
    text-decoration: none;
  }

  &.primary {
    color: $c-text-lighter;
    background-color: $c-dark;

    &:hover {
      background-color: $c-darker;
    }
  }

  &.success {
    color: $c-text-lighter;
    background-color: $c-success;

    &:hover {
      background-color: darken($c-success, 15%);
    }
  }

  &.danger {
    color: $c-text-lighter;
    background-color: $c-danger;

    &:hover {
      background-color: darken($c-danger, 15%);
    }
  }

  &.full {
    text-align: center;
    width: 100%;
  }

  &.ghost {
    font-weight: 600;

    &:hover {
      background-color: $c-primary;
    }

    &.lighter {
      &:hover {
        background-color: $c-primary-dark;
      }
    }

    &:disabled {
      color: $c-lighter;
      &:hover {
        background-color: $c-lighter !important;
      }
    }
  }

  &.icon-button {
    padding: 12px;
    @include fontSize(21px);
    i {
      margin: 0;
    }
  }

}

