/* FONTS */
$font_prim: "Gotham", sans-serif;

/* FONT SIZES */
$fs_prim: 14px;
$fs_h1: 3rem;
$fs_h2: 2rem;
$fs_h3: 1.444467rem;
$fs_h4: 1.3rem;
$fs_h5: 1.2rem;
$fs_h6: 1.1rem;

/* LINE HEIGHTS */
$lh_prim: 1.45em;

/* FONT COLORS */
$fc_prim: $c-text4;

/* FONT WEIGHTS */
$fw_light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_bold: 600;
$fw_extrabold: 800;