.actions {
    @include clearfix;
    display: flex;
    padding: 20px 0;
    .actions-right {
      display: flex;
      align-items: center;
      div {
          margin-left: 20px;
      }
    }

    a {
      display: block;
      padding: 10px 0;
        &:hover {
            color: $c-primary;
        }
    }
  }