$c_chart_prim: #3498DB;
$c_chart_darker: darken(#b0bac8, 5%);
$c_chart_danger: #e74c3c;
$c_chart_secondary: #00E5D0;
$c_chart_gray: #F5F9FC;
$c_chart_stroke: #eff2f5;
$c_chart_stroke_darker: #b0bac8;
$c_chart_text: #95d2ec;
$c_chart_text_lighter: #b0bac8;
$c_chart_text_darker: #6d7e95;
$c_chart_box_shadow: #999;
$c_chart_gradient_dark: #555;
$c_chart_gradient_light: #ddd;