.mobile-overlay {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: white;
	top: 0;
	opacity: 0;
    position: fixed;
	z-index: 99999;
	transition: opacity 0.2s ease-in-out;
    &--show {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		opacity: 1
    }
    h2 {
        text-align: center;
        position: relative;
        top: 0;
        bottom: 0;
        width: 90%;
        margin-top: 6vh;
        margin-right: auto;
		margin-left: auto;
		color: $c-text6;
	}
	img {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 100px;
	}
	.button {
		border-radius: 0;
	}
}