.range-picker {
    position: absolute;
    right: 3rem;
    height: 350px;
    top: 130%;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transform: translate(0, -40px) scale(0.9);
    transition: transform 300ms ease-in-out 100ms, opacity 200ms ease-in-out 100ms, visibility 0s linear 500ms;

    .carret {
        width: 32px; 
        height: 26px; 
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 29px solid #fff;
        left: 20rem;
        bottom: 19px;
        position: relative;
    }
}
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
}
.active-picker {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0) scale(1);
	transition: transform 300ms ease-in-out 100ms, opacity 200ms ease-in-out 100ms, visibility 0s linear;
	display: block;
}
.rdr-PredefinedRangesItem:hover {
    color: #3498DB !important;
}
.range-picker-trigger-container {
    display: flex;
    align-items: center;
    
}
.range-picker-icon {
    height: 10px;
    width: 7px;
    margin-left: 10px;  
}
.range-picker-icon-grey {
    margin-left: 10px;
}
.range-picker-icon-white {
    display: block;
}
.range-picker-icon-grey {
    display: none;
}


.main-navigation.active {
    .range-picker-icon-white {
        display: none !important;
    }
    .range-picker-icon-grey {
        display: block !important;
    }
}